<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Definição do appender para saída no console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Formato da mensagem de log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração do nível de log e appender raiz -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>